Source: live-manual
Section: doc
Priority: optional
Maintainer: Debian Live Project <debian-live@lists.debian.org>
Uploaders: Chris Lamb <lamby@debian.org>, Daniel Baumann <daniel@debian.org>
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: dblatex, docbook-xml, docbook-xsl, po4a, w3m
Standards-Version: 3.9.1
Homepage: http://live.debian.net/devel/live-manual/
Vcs-Browser: http://live.debian.net/gitweb/?p=live-manual.git
Vcs-Git: git://live.debian.net/git/live-manual.git

Package: live-manual
Architecture: all
Depends: ${misc:Depends}
Description: Debian Live manual
 This package contains the documentation for Debian Live project. It provides a
 broad overview of the tools and philosophy of Debian Live, as well as
 providing details on how live systems may be built and customised by end users
 and developers.
