#!/usr/bin/make -f

clean:
	dh_testdir
	dh_testroot

	$(MAKE) purge

	dh_clean

build:
	dh_testdir

	$(MAKE)

install:

binary: binary-indep

binary-arch:

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_install
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: clean build install binary binary-arch binary-indep
